body {
  background-color: #e5e5e5;
  color: #212121;
  font-family: "Roboto", sans-serif;
}

.header {
  background-color: #ffffff;
}

.logo-link {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1, 19;
  letter-spacing: 0, 03em;
  color: #2196f3;
}

.logo-accent-hdr {
  color: #212121;
}

.logo-accent {
  color: #ffffff;
}

.site-nav a {
  width: 68px;
  height: 16px;
  color: #212121;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1, 14;
  letter-spacing: 0.02em;
}

.site-nav .link {
  color: #212121;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: #2196f3;
}

.contacts a {
  width: 135px;
  height: 16px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1, 14;
  letter-spacing: 0.02em;
  color: #757575;
}

.contacts .link {
  color: #757575;
}

.contacts .link:hover,
.contacts .link:focus {
  color: #2196f3;
}

ul {
  list-style: none;
}

.footer {
  background-color: #2f303a;
}

.footer .map-link a {
  width: 231px;
  height: 21px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1, 7;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.footer .map-link {
  color: #ffffff;
}

.footer .map-link:hover,
.footer .map-link:focus {
  color: #2196f3;
}

.footer .link a {
  width: 231px;
  height: 21px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1, 7;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer .link {
  color: rgba(255, 255, 255, 0.6);
}

.footer .link:hover,
.footer .link:focus {
  color: #2196f3;
}

/*  */
